%table
  - @users.first(33).each do |user|
    - @score = 0
    %tbody
      %tr
        %td.user-rank{:id => "#{@score}"}
          = link_to user_profile_path(user), {class: 'clickable'}  do
            .rank _
            .score
              Rating: #{user.sum_score}
            %div= user.username
            %div= image_tag(user.avatar(:thumb), class: 'show-avatar')
:javascript
  $(document).ready(function() {
  	$('.rank').each(function(i) {
  		$(this).text('#'+(1+i++));
  	});
  });
