<%= form_for post, html: {multipart: true} do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title,'Headline' %><br>
    <%= form.text_area :title, id: :post_title, rows: 2, cols: 60, maxlength: 108 %>
  </div>

  <div class="field">
      
  <%= form.file_field :image, :type => "file", :id => "pictureInput" %>
      
      <div id="upload-button">
          Add Picture
      </div>
  </div>

  <div style="margin: auto; max-width: 300px; height:auto; width:auto;" id="target"></div>
  <div id=picalert></div>

  <div class="field">
  <%= form.file_field :video, :type => "file", :id => "videoInput" %>
      
      <div id="upload-button">
          Add Video
      </div>
  </div>
  <video class="center" id="vidtarget" height="0px">
  </video>
    <div id=vidalert></div>


  <div class="field">
    <%= form.label :body %><br>
    <%= form.text_area :body, id: :post_body, rows: 4, cols: 60, maxlength: 2500 %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit("Submit Column", class: "button") %>
  </div>
<% end %>
<br>

<script>
    $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0];
    var itype = image['type'];
  if(itype.split('/')[0] != 'image') {
    $('#picalert').html("Please select a picture.");
    $('#target').empty();
    return
  }


    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.style.width = '300px';
      img.style.height = 'auto';
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
  });
});

$ ("#videoInput").change(function (e) {
  var type = this.files[0].type
  var $window = $(window);
  var width = "300px"
  var fileInput = document.getElementById('videoInput');
  var fileUrl = window.URL.createObjectURL(fileInput.files[0]);
  if(type.split('/')[0] != 'video') {
    $('#vidalert').html("Please select a video.");
    $('#vidtarget').attr("src","").attr("controls",false).attr("height","0");
    return
  }
   $("#vidtarget").attr("src", fileUrl).attr("height",width ).attr("controls",true).attr("onclick","this.paused ? this.play() : this.pause();")
});
</script>