<nav class="bnavbar">
  <div class="bdropdown">
    <% if current_user %>
      <%= link_to image_tag(current_user.avatar(:tiny), class: 'show-avatar bnav-av'), user_profile_path(current_user) %>
      <button class="bdropbtn">
        <%= link_to 'Subs', feed_path, class: 'blink clickable' %>
      </button>
      <button class="bdropbtn">
        <%= link_to 'Publish', new_post_path, class: 'blink clickable' %>
      </button>
      <button class="bdropbtn">
        <%= link_to 'Opinions', opinions_path, class: 'blink clickable' %>
      </button>
      <button class="bdropbtn">
        <%= link_to 'Logout', destroy_user_session_path, class: 'blink clickable', method: :delete %>
      </button>
    <% else %>
      <button class="bdropbtn">
        <%= link_to 'Sign In', new_user_session_path, class: 'blink clickable' %>
      </button>
      <button class="bdropbtn">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'blink clickable' %>
      </button>
    <% end %>
  </div>
</nav>
