<div class="bottom">
<div class="bnav">
      <ul>
          <% if current_user %>
        <li><a><%= link_to 'Resume', edit_user_registration_path %></a>
          </li>
        <li><a>Columns</a>
          </li>
        <li><a><%= link_to 'Publish', new_post_path %></a>
          </li>
        <li><a>Opinions</a>
          </li>
        <li><a ><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a>
          </li>
          <%else%>
          <li><a><%= link_to 'Sign In', new_user_session_path %></a>
          </li>
        <li><a><%= link_to 'Sign Up', new_user_registration_path %></a>
          </li>
          <%end%>
      </ul>
    </div>
</div>

<script>
     $(function() {
        $('a').click(function() {
           $('a').removeClass();
           $(this).addClass('active');
        });
     });
  </script>