<div class="top">
<div class="nav">
      <ul>
          
          <li><a><%= link_to 'New', posts_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
        
        <li><a><%= link_to 'Top', top_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Loved', loved_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Hated', hated_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Ranked', top_users_path, class: :link %></a>
          <ul>
            <li><a href="#">Top</a></li>
            <li><a href="#">Loved</a></li>
            <li><a href="#">Hated</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
</div>

<script>
     $(function() {
        $('#nav li a ').click(function() {
           $(this).addClass("active");
        });
     });
  </script>