<!--<div class="top">
<div class="nav">
      <ul>
          
          <li><a><%= link_to 'New', posts_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
        
        <li><a><%= link_to 'Top', top_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Loved', loved_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Hated', hated_path, class: :link %></a>
          <ul>
            <li><a href="#">Today</a></li>
            <li><a href="#">Last Week</a></li>
            <li><a href="#">Last Month</a></li>
            <li><a href="#">Last year</a></li>
            <li><a href="#">All Time</a></li>
          </ul>
        </li>
          
          <li><a><%= link_to 'Ranked', top_users_path, class: :link %></a>
          <ul>
            <li><a href="#">Top</a></li>
            <li><a href="#">Loved</a></li>
            <li><a href="#">Hated</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
</div>

<script>
     $(function() {
        $('#nav li a ').click(function() {
           $(this).addClass("active");
        });
     });
  </script>
-->
  <div class="topnav" id="myTopnav">
      <%=link_to 'News', posts_path, class:'nav-link'%>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Top</button>
    <div id="myDropdown" class="dropdown-content">
        <%= link_to 'Day', top_day_path, class:'navlink' %>
        <%= link_to 'Week', top_week_path, class:'navlink' %>
        <%= link_to 'Month', top_month_path, class:'navlink' %>
        <%= link_to 'Year', top_year_path, class:'navlink' %>
        <%= link_to 'All Time', top_path, class:'navlink' %>
      </div>
  </div>
  <div class="dropdown">
    <button onclick="myFunction2()" class="dropbtn">Loved</button>
    <div id="myDropdown2" class="dropdown-content">
      <%= link_to 'Day', loved_day_path, class:'navlink' %>
      <%= link_to 'Week', loved_week_path, class:'navlink' %>
      <%= link_to 'Month', loved_month_path, class:'navlink' %>
      <%= link_to 'Year', loved_year_path, class:'navlink' %>
      <%= link_to 'All Time', loved_path, class:'navlink' %>
    </div>
  </div>
  <div class="dropdown">
  <button onclick="myFunction3()" class="dropbtn">Hated</button>
    <div id="myDropdown3" class="dropdown-content">
      <%= link_to 'Day', hated_day_path, class:'navlink' %>
      <%= link_to 'Week', hated_week_path, class:'navlink' %>
      <%= link_to 'Month', hated_month_path, class:'navlink' %>
      <%= link_to 'Year', hated_year_path, class:'navlink' %>
      <%= link_to 'All Time', hated_path, class:'navlink' %>
    </div>
  </div>
  <%= link_to 'Ranked', top_users_path, class:'nav-link' %>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function myFunction2() {
    document.getElementById("myDropdown2").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script>
function myFunction3() {
    document.getElementById("myDropdown3").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>